<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AviationRepository" connectionString="Host=localhost;Port=5432;Database=postgres;Username=postgres;Password=..."/>
  </connectionStrings>
  <appSettings>
    <add key="uri" value="bolt://localhost:7687"/>
    <add key="user" value="neo4j"/>
    <add key="password" value="..."/>
  </appSettings>
</configuration>